body{
    font-family: "Inria Sans", Verdana, sans-serif;
    background-image: url('https://wallpaper.forfun.com/fetch/83/8342c1ed25b9f18ed7fb5e0cc2f0f455.jpeg');
    background-attachment: fixed; /* Fixe le fond */
    background-size: cover; /* Optionnel : pour couvrir toute la page */
    background-position: center; /* Optionnel : pour centrer l'image */
    height: 100vh; /* Assure que la hauteur du body couvre tout l'écran */

  }
  
  h1,h2,h3,h4{
    text-align: center;
  }
  
  h2{
    color: rgba(255, 0, 0, 0.849);
  }
  
  *{
    text-decoration: none;
  }
  
  a{
    color: rgb(0, 0, 0);
  }
  
  h1{
    color: rgb(129, 2, 141);
  }